
body {
    background-image: url("Images/Statue Of Liberty.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.heading
{
    color : black;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
